@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
$lighterBlue: #1e49d4;
$lightBlue: #1e49d4;
$darkBlue: #0d3e8a;

$green: #1ed460;
$black: #01050a;
$backgroundColor: #0d3e8a;
$textColor: $green;

// $backgroundColor: #1f1522;
$hoverBlue: rgb(0, 255, 242);

body {
  // height: 100vh;
  overflow: auto;
  font-family: "Varela Round", sans-serif;
  color: $textColor;
  overscroll-behavior: none;
  // width: 100vw;
  margin: 0;
}

.navbar {
  z-index: 10;

  min-width: 100vw;
  height: 7vh;
  background-color: $lighterBlue;
  overflow: hidden;
  position: fixed;
  top: 0;

  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 4px;
      margin: 0 10px;
      text-decoration: none;
      color: $textColor;
      transition: transform 0.3s ease;
    }
    a:hover {
      transform: scale(1.2);
    }
  }
}

.homepage {
  margin-top: 3rem;
  // background-color: lineargrad
  background-color: $backgroundColor;

  .hero {
    position: relative;
    padding: 1rem;
    height: 100vh;
    font-family: Menlo, Monaco, "Courier New", monospace;
    color: $textColor;
    text-align: left;
    display: flex;
    justify-content: center;

    .desktop-img {
      border-radius: 7px;
    }

    .Typist {
      padding-top: 150px;

      margin-left: -3rem;
      position: absolute;
    }

    .Typist .Cursor {
      display: inline-block;
      color: $textColor;
      &--blinking {
        opacity: 1;
        animation: blink 1s linear infinite;
        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .about-section {
    // width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    .brand-statement {
      font-weight: 50;
      // color: #548681e5;
      h1 {
        width: 100%;
        text-align: left;
      }
      p {
        text-align: justify;
        margin: 0;
        width: 80vw;
      }
    }
  }
  .devicon-container {
    color: $textColor;
    margin: 0 auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    ol {
      width: 70vw;
      padding: 0%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    li {
      margin: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      transition: transform 0.3s ease;

      fill: $textColor;
      width: 6rem;
      // border: 1px red solid;

      img {
        height: 96px;
      }
    }
    li:hover {
      // border: 1px red solid;
      transform: scale(1.5);
    }

    .devicon {
      color: $textColor;
      fill: $green;

      // fill: gold;
      // width: 6rem;
    }
  }
}

.projects-container {
  // padding: 2rem;
  text-align: center;
  h1 {
    margin: 0;
  }
  .project-details-container {
    margin: 2rem 0;
    built-with-icon h1 {
      margin: 0;
    }

    img {
      width: 50%;
      // max-width: 600px;
      border-radius: 7px;
      transition: transform 0.6s ease;
      // animation: heartbeat 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both
      // width: 50rem;
    }

    img:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 10px 0px $hoverBlue;
    }

    .devicon-project {
      fill: rgba(255, 238, 0, 0.863);
      height: 50px;
      margin-bottom: -10px;
      transition: transform 0.3s ease;
    }

    .devicon-project:hover {
      transform: scale(1.2);
      fill: $green;
    }

    p {
      margin: 0;
      margin-bottom: 2rem;
    }

    .built-with-icon {
      width: 50px;
      height: 50px;
    }
    .built-with-icon:hover {
      box-shadow: none;
      transform: none;
    }
    .express-icon-small {
      height: 50px;
      transform: scale(1.2);
    }
  }

  .monomelody {
    // background-color: rgba(223, 243, 2, 0.829);
  }

  .doodler {
    // text-align: right;
  }
}
@media only screen and (max-width: 1440) {
  .Typist {
    padding-top: 7.5rem;
    margin-left: -3rem;
    position: absolute;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.contact {
  background-color: $black;
  height: 20vh;
  width: 100%;
  padding: 0;
  margin: 1rem 0 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;

  // a {
  //   text-decoration: none;
  //   color: $green;
  //   fill: $green;
  // }

  .contact-items {
    h1 {
      text-align: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .contact-buttons {
      // width: 2rem;
      display: flex;

      .icon-contact {
        width: 50px;
        height: 50px;
        fill: $green;
        transition: transform 0.3s ease;
        margin-left: 2rem;
        margin-right: 2rem;
        // margin:1rem;
      }
      .icon-contact:hover {
        transform: scale(1.4);
      }
      .github-icon-contact {
        height: 60px;
      }
      .linkedin-icon {
        // margin-top: 5px;
        // text-align: center;
      }

      .twitter-icon {
        // width: 45px;
      }
    }
  }
}

#about {
  scroll-margin-top: 100px;
}
#projects {
  scroll-margin-top: 80px;
}
#tech {
  scroll-margin-top: 80px;
}

footer {
  height: 7vh;

  display: flex;

  justify-content: center;
  align-items: center;

  background-color: $black;
  border-top: rgb(34, 8, 92) 1px solid;
}
.hide{
  display:none;
}